@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  @apply m-0 p-0;
}
*::selection {
  background-color: #0a0a0a33;
}
body {
  background-color: #ffecdb;
}
.library > span {
  @apply relative block;
}
.search {
  border: 2px solid #ccc1;
}
.search:hover {
  border-color: #ccc3;
}
.searchBtn {
  @apply p-1 rounded rounded-2xl ease-in-out duration-75  transition-all;
}
.searchBtn:focus-visible,
.searchBtn:focus,
.searchBtn:hover {
  @apply animate-ping bg-[#fafafa11];
  animation-iteration-count: 1;
}
.trans {
  @apply transition-all ease-in-out;
}
.Bookies {
  gap: 1.75rem;
  @apply mt-10 px-8;
  grid-template-columns: repeat(5, 1fr);
}
.book:hover h2 {
  @apply text-black underline cursor-pointer;
}
.book:hover img {
  @apply shadow shadow-lg cursor-pointer;
}
.bookdetail img {
  flex-shrink: 0;
}
